<aside role="banner" class="cover">
  <div {{!-- {{#if @blog.cover}}data-load-image="{{@blog.cover}}"{{/if}} --}} class="cover-image"></div>
  <div class="cover-container">
    <div class="blog-info">
    <h1 class="cover-title"><a href="/" data-pjax>{{@blog.title}}</a></h1>
    <p class="cover-description">{{@blog.description}}</p>
    </div>
    <div class="buttons">
      <a class="subscribe-button" href="/subscribe">Subscribe</a>
      <a class="subscribe-button follow-button" href="http://twitter.com/ben336">Follow</a>
    </div>
    <ul role="navigation" class="cover-nav">
      {{> custom/navigation this}}
    </ul>
  </div>
</aside>
