{{! Templates

Link
==============
<li class="drawer-list-item">
  <a href="#" title="Follow me on twitter!">
    <i class="fa fa-twitter"></i> Follow me
  </a>
</li>

Divider
==============
<li class="drawer-list-divider"></li>

Title
==============
<li class="drawer-list-item drawer-list-title">
  Follow me
</li>

ProTip:
==============
Ghostium uses Font Awesome you can find all icons available on the url below
  http://fortawesome.github.io/Font-Awesome/cheatsheet/

}}

{{!
<li class="drawer-list-item">
  <a href="http://feedpress.me/benmccormick">
    <i class="fa fa-rss"></i>Subscribe to Feed
  </a>
</li>
<li class="drawer-list-item">
  <a href="http://twitter.com/benmccormickorg">
    <i class="fa fa-twitter"></i>Subscribe with Twitter
  </a>
</li>
<li class="drawer-list-item">
  <a href="http://eepurl.com/WFYon">
    <i class="fa fa-envelope"></i>Subscribe to Mailing List
  </a>
</li>
<li class="drawer-list-divider"></li>
<li class="drawer-list-item drawer-list-title">
  Follow me
</li>
<li class="drawer-list-item">
  <a href="http://twitter.com/ben336" target="_blank">
    <i class="fa fa-twitter"></i>Twitter
  </a>
</li>
<li class="drawer-list-item">
  <a href="http://github.com/benmccormick" target="_blank">
    <i class="fa fa-github"></i>Github
  </a>
</li>
<li class="drawer-list-divider"></li>
}}
<li class="drawer-list-item drawer-list-title">
    Site Resources
</li>

<li class="drawer-list-item">
  <a href="/about">
    <i class="fa fa-question-circle"></i>About
  </a>
</li>
<li class="drawer-list-item">
  <a href="/speaking">
    <i class="fa fa-microphone"></i>Speaking
  </a>
</li>
<li class="drawer-list-item">
  <a href="/readinglist">
    <i class="fa fa-bookmark"></i>Reading List
  </a>
</li>
<li class="drawer-list-divider"></li>
<li class="drawer-list-item drawer-list-title">
    Popular Series
</li>
<li class="drawer-list-item">
  <a href="/learning-vim-in-2014">
    <i class="fa fa-star"></i>Learning Vim in 2014
  </a>
</li>
<li class="drawer-list-item">
  <a href="/marionette-explained">
    <i class="fa fa-star"></i>Marionette Explained
  </a>
</li>
